@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Vidaloka:300,400,700);

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 25px;
}

#holder {
    padding: 0 10px;
    float: right;
    width: 755px;
}

#top-group, #coursenum, #btnelectives, .btn-group, .btn-info, #general {
    clear: both;
    float: left;
    width: 250px;
    height: 35px;
    margin-bottom: 10px;
    display: inline;
    vertical-align: top;
    text-align: left;
}

#plus {
    width: 40px;
    float: right;
    background: #5bc0de url(../img/plus.png) no-repeat center center;
    background-size: 15px 15px;
}

#remove {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 12px;
    left: 230px;
    width: 30px;
    height: 30px;
    background: url(../img/remove.png) no-repeat center center;
    background-size: 15px 15px;
}

.tt-dropdown-menu, .dropdown-menu {
    width: 250px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.dropdown-menu li:hover a {
    cursor: pointer;
    color: #0097cf;
    background-color: #ccc;
}

#general, #selectcourses > #top-group > .twitter-typeahead > .tt-hint,  
#selectcourses > #top-group > .twitter-typeahead > .tt-dropdown-menu {
    width: 200px;
}

.tt-hint {
    width: 250px;
    color: #999;
    padding: 6px 11px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 25px;
}

.tt-dropdown-menu {
    margin-top: -8px;
}

.tt-suggestion {
    padding: 6px 10px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #0097cf;
    background-color: #ccc;
}

.tt-suggestion p {
    margin: 0;
}

/* COURSE DETAILS */

article {
    color: #333;
    background: #ddd;
    height: calc(100% - 90px);
    padding: 20px 15px 20px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    min-width: 250px;
}

hr {
    border-bottom: 1px solid rgba(255,255,255,0.6);
    border-top: 1px solid rgba(0,0,0,0.1);
}

#number {
    font-weight: 700;
    font: 40px 'Vidaloka', serif;
    color: #0097cf;
    font-style: italic;
    width: 120px;
    float: left;
}

#link {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: url(../img/link.png) no-repeat center center;
    background-size: 15px 15px;
    float: left;
}

b {
    font-weight: 700;
}

#clear {
    clear: both;
}

#title {
    font-weight: 700;
    font-size: 16px;
}

#btncs {
    margin-top: 40px;
}